
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1 class="display-2"><%= link_to("", "/logout", {method: :delete, class: "fa fa-user"}) %></h1>
            <p><%= link_to("ログアウト", "/logout", :method => :delete) %></p>
        </div>
        <div class="col">
            <h1 class="display-2"><%= link_to("", "appsettings/pay_type_index", {class: "fa fa-folder"}) %></h1>
            <p><%= link_to("分類", "appsettings/pay_type_index") %></p>
        </div>
    </div>
    <div class="row text-center">
      <div class="col">
          <h1 class="display-2"><%= link_to("", "/user/destroy", {method: :delete, class: "fa fa-user"}) %></h1>
          <p><%= link_to("ユーザー削除", "/user/destroy", :method => :delete) %></p>
      </div>
      <div class="col">

      </div>
  </div>
</div>