<!-- < %= form_with model: @budget , url: jounal_entries_path, local: true do |form| %> -->
<!-- < %= form_tag(jounal_entries_path) do %>--->

<%= form_with model: @budget , local: true do |form| %>

  <div class="row">
    <table class="table table-bordered">
      <thead class="thead-light text-center">
          <tr>
              <th class="width:10%">-</th>
              <th class="width:30%">分類</th>
              <th class="width:20%"><%= Date.today.strftime('%Y年%m月') %>の予算</th>
          </tr>
      </thead>
      <tbody>
          <% @income_classifications.each do |income_classification| %>
            <% if income_classification.order_seq == 1 %>
              <tr><td rowspan=<%= @income_classifications.size + 1 %>>収入</td>
            <% else %>
              <tr>
            <% end %>
              <td><%= income_classification.name %></td>
              <td class="text-right"><%= form.number_field :income_amount, class: "form-control col-sm-9", id: "income_amount[" + income_classification.id.to_s + "]" %></td>
            </tr>
          <% end %>
          <tr>
              <td>収入合計</td>
              <td class="text-right">0</td>
          </tr>
 
          <% @pay_classifications.each do |pay_classification| %>
              <% if pay_classification.order_seq == 1 %>
              <tr><td rowspan=<%= @pay_classifications.size + 1 %>>支出</td>
            <% else %>
              <tr>
            <% end %>
              <td><%= pay_classification.name %></td>
              <td class="text-right"><%= form.number_field :pay_amount, class: "form-control col-sm-9", id: "pay_amount[" + pay_classification.id.to_s + "]" %></td>
            </tr>
          <% end %>
          <tr>
              <td>支出合計</td>
              <td class="text-right">0</td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group row justify-content-between">
    <input type="submit" class="btn btn-info col-sm" value="登録">
    <%= link_to 'キャンセル', jounal_entries_path, class:"btn btn-secondary col-sm", role: "button"%>
  </div>



<% end %> 
