<!-- < %= form_with model: @budget , url: jounal_entries_path, local: true do |form| %> -->
<!-- < %= form_tag(jounal_entries_path) do %>--->

<%= form_with model: @budget , local: true do |form| %>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="ymd">日付</label>
    <%= form.date_field :ymd, class: "form-control col-sm-9", id: "ymd" %>
  </div>

  
  <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="income_classification_name">収入分類</label>
      <%= form.collection_select(:income_classification_id, @income_classifications, :id, :name, {prompt: nil}, {class: "form-control col-sm-9"})  %>
  </div>
  <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="income_amount">収入金額</label>
      <%= form.number_field :income_amount, class: "form-control col-sm-9", id: "income_amount" %>
  </div>

  <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="pay_classification_name">支出分類</label>
      <%= form.collection_select(:pay_classification_id, @pay_classifications, :id, :name, {prompt: nil}, {class: "form-control col-sm-9"})  %>
  </div>
  <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="pay_amount">支出金額</label>
      <%= form.number_field :income_amount, class: "form-control col-sm-9", id: "pay_amount" %>
  </div>

  <!-- <input type="hidden" name="budget[pay_classification_id]" value="999"> -->
  <!-- <input type="hidden" name="budget[pay_amount]" value=0> -->

  <div class="form-group row justify-content-between">
        <input type="submit" class="btn btn-info col-sm" value="登録">
        <%= link_to 'キャンセル', jounal_entries_path, class:"btn btn-secondary col-sm", role: "button"%>
  </div>
<% end %> 