<!-- application.html.erb にHTMLタグ等が記述されているため、このファイルには記載不要 -->
<!-- application.html.erb の< %= yield %> の部分に、このファイルが挿入される。 -->

<div class="container">
  <div class="row">
    <%= link_to("←←前年", "/", {class: "btn"}) %>
    <%= link_to("←前月", "/", {class: "btn"}) %>
    <%= link_to("今月", "/", {class: "btn"}) %>
    <%= link_to("来月→", "/", {class: "btn"}) %>
    <%= link_to("来年→→", "/", {class: "btn"}) %>
    <%= link_to("予算を入力する", "/budgets/new", {class: "btn btn-primary"}) %>
  </div>
  <div class="row">
    <div class="col-3 text-center t-head">-</div>
    <div class="t-frame col-9">
      <div class="col-6 text-center t-head"><p>分類</p></div>
      <div class="col-5 text-center t-head"><%= Date.today.strftime('%Y年%m月') %>の予算</div>
      <div class="col-1 text-center t-head">-</div>
    </div>
  </div>

  <div class="row d-flex">
    <div class="t-body-title col-3">収入</div>
    <div class="t-frame col-9 flex-wrap">
      <% @income_classifications.each do |income_classification| %>
        <div class="t-frame col-12">
          <div class="t-body col-6"><%= income_classification.name %></div>
          <div class="t-body col-5">0,<%= @income_budget[income_classification.id].to_s %></div>

          <% if @income_budget[income_classification.id] %>
            <% #予算データがある場合 %>
            <div class="t-body col-1"><%= link_to("編集", edit_income_path(@income_budget[income_classification.id].id)) %></div>
          <% else %>
            <% #予算データがない場合 %>
            <div class="t-body col-1">
              <%= form_with model: @budget, local: true do |form| %>
                <input type="hidden" name="income_classification_id" value=<%= income_classification.id.to_s %>>
                <input type="hidden" name="pay_classification_id" value=999>
                <%= link_to "なし", '/budgets/new' %>
              <% end %>
            </div>
          <% end %>
        
          <!--< %= link_to("編集", edit_payment_path(jounal_entry.id)) %> -->
          <!--< %= link_to("編集", edit_income_path(jounal_entry.id)) %> -->

        </div>
      <% end %>
      <div class="t-frame col-12">
        <div class="t-body col-6">収入合計</div>
        <div class="t-body col-5">0</div>
        <div class="t-body col-1"></div>
      </div>
    </div>
  </div>
    
  <div class="row d-flex">
    <div class="t-body-title col-3">支出</div>
    <div class="t-frame col-9 flex-wrap">
      <% @pay_classifications.each do |pay_classification| %>
        <div class="t-frame col-12">
          <div class="t-body col-6"><%= pay_classification.name %></div>
          <div class="t-body col-5">0</div>
          <div class="t-body col-1">更新</div>
        </div>
      <% end %>
      <div class="t-frame col-12">
        <div class="t-body col-6">支払合計</div>
        <div class="t-body col-5">0</div>
        <div class="t-body col-1"></div>
      </div>
    </div>
  </div>

  
</div>
