<%= form_with model: @payment , url: payments_path, local: true do |form| %>
<!-- < %= form_tag(payments_path) do %>--->
  <div class="form-group row">
    <label for="pay_ymd" class="col-sm-3 col-form-label">日付</label>
    <div class="col-sm-9">
      <input id="pay_ymd" name="pay_ymd" type="date" class="col-sm-9" value="<%= Time.now.strftime("%Y-%m-%d") =%>">
    </div>
  </div>
  <div class="form-group row">
      <label for="text3a" class="col-sm-3 col-form-label">分類</label>
      <div class="col-sm-9">
          <select name="pay_type_name" class="form-control">
              <option>未分類</option>
              <% @paytypes.each do |paytype| %>
                <option><%= paytype.pay_type_name  %></option>
               <% end %>
          </select>
      </div>
  </div>
  <div class="form-group row">
      <label for="text3a" class="col-sm-3 col-form-label">金額</label>
      <div class="col-sm-9">
          <input name="amount" type="number" class="form-control" value="0">
      </div>
  </div>
  <div class="form-group row">
      <label for="text3a" class="col-sm-3 col-form-label">内容</label>
      <%= form.text_field :remarks, class: "form-control col-sm-9" %>
  </div>
  <div class="form-group row justify-content-between">
        <input type="submit" class="btn btn-primary col-sm" value="登録">
        <%= link_to 'キャンセル', payments_path, class:"btn btn-danger col-sm", role: "button"%>
  </div>
<% end %> 
