<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application'%>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <!-- Open Iconic — www.useiconic.com/open -->

    
    
    <title>Web家計簿</title>

    <!-- 以下は rails new で自動生成されたコード。エラーを吐くため、一旦コメントアウト -->
    <!-- < %= csrf_meta_tags %> -->
    <!-- < %= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <!-- < %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>
  <body>
    <header>
        <nav class="navbar fixed-top navbar-dark bg-dark">
              <%= link_to "一覧", payments_path, class:"btn btn-info", role: "button col-10" %>
              <%= link_to "登録", new_payment_path, class:"btn btn-info", role: "button" %>
              <%= link_to "設定", appsettings_path, class:"btn btn-info", role: "button"  %>
        </nav>
    </header>
    <div class="container">
        <br>
        <br>
        <br>
    </div>
<!--    < % if flash[:notice] %>
      <div class="flash">
        < %= flash[:notice] %>
      </div>
    < % end %>
-->
    <div class="container">
      <%= yield %>
    </div>

    <footer>
    </footer>
      
    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          <% key = "error" if key == "alert" %>
          toastr['<%= key %>']('<%= value %>');
        <% end %>
      </script>
    <% end %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      
  </body>
</html>
