<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  <!-- Open Iconic — www.useiconic.com/open -->

  
  <title>Web家計簿</title>

  <!-- 以下は rails new で自動生成されたコード。エラーを吐くため、一旦コメントアウト -->
  <!-- < %= csrf_meta_tags %> -->
  <!-- < %= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
  <!-- < %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->

  
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <!--<link href="../assets/stylesheets/bootstrap.min.css" rel="stylesheet" /> -->
  <!--<link href="../assets/stylesheets/stylesheet.scss" rel="stylesheet" /> -->
  <!--<link href="../assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" /> -->
  <!-- "CSS Just for demo purpose, don't include it in your project" -->
  <!-- <link href="../assets/demo/demo.css" rel="stylesheet" /> -->
</head>

<body class="">
  <div class="wrapper">

    <% if current_user %>
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="<%= "active" if @active_page == "支出の入力" %>">
            <!-- <i class="nc-icon nc-bank"></i> -->
            <%= link_to "支出の入力", '/payments/new' %>
          </li>
          <li class="<%= "active" if @active_page == "収入の入力" %>">
            <!-- <i class="nc-icon nc-diamond"></i> -->
            <%= link_to "収入の入力", '/incomes/new' %>
          </li>
          <li class="<%= "active" if @active_page == "入力の一覧" %>">
            <!-- <i class="nc-icon nc-pin-3"></i> -->
            <%= link_to "入力の一覧", jounal_entries_path %>
          </li>
          <li class="<%= "active" if @active_page == "集計表" %>">
            <!-- <i class="nc-icon nc-bell-55"></i> -->
            <%= link_to "集計表", '/spreadsheets/' %>
          </li>
<!--
          <li>
            <a href="./user.html">
              <p>お金の移動</p>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <p>残高の調整</p>
            </a>
          </li>
          <li>
            <a href="./typography.html">
              <p>毎月払いの入力</p>
            </a>
          </li>
          <li class="<%= "active" if @active_page == "予算を立てる" %>">
            <%= link_to "予算を立てる", '/budgets/' %>
          </li>
-->
          <li>
            <!-- <i class="nc-icon nc-caps-small"></i> -->
            <%= link_to "設定", "/appsettings" %>
          </li>

        </ul>
      </div>
    </div>

    <header>
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <%= link_to "支出の入力", '/payments/new', {class: "btn btn-link btn-block hamburger_menu"} %>
          <%= link_to "収入の入力", '/incomes/new', {class: "btn btn-link btn-block hamburger_menu"}  %>
          <%= link_to "入力の一覧", jounal_entries_path, {class: "btn btn-link btn-block hamburger_menu"}  %>
          <%= link_to "集計表", '/spreadsheets/' , {class: "btn btn-link btn-block hamburger_menu"}%>
          <%= link_to "設定", "/appsettings", {class: "btn btn-link btn-block hamburger_menu"}  %>
        </div>
      </div>
      <div class="header_title">
        家計簿
      </div>
    </header>
    <% end %>

    <% if current_user %>
    <div class="main-panel">
    <% else %>
    <div class="main-panel main-panel_login">
    <% end %>
      <!-- Navbar -->
<!--
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">かけいぼ</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-magnify" href="#pablo">
                  <i class="nc-icon nc-layout-11"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link btn-rotate" href="#pablo">
                  <i class="nc-icon nc-settings-gear-65"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
              <% if current_user %>
                <%= link_to "設定", appsettings_path, class:"btn btn-info", role: "button" %>
              <% else %>
                <%= link_to "ログイン", "/login", class:"btn btn-info", role: "button" %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
-->
      <!-- End Navbar -->

        <div class="content">
          <div class="row">
            <%= yield %>
          </div>
        </div>

        <footer class="footer footer-black  footer-white ">
        </footer>
      </div>

  </div>
  <% if flash.any? %>
    <script type="text/javascript">
      <% flash.each do |key, value| %>
        <% key = "success" if key == "notice" %>
        <% key = "error" if key == "alert" %>
        toastr['<%= key %>']('<%= value %>');
      <% end %>
    </script>
  <% end %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </div>
</body>
</html>
